[submodule "training/python"]
	path = training/python
	url = git@github.com:magizbox/python.git
[submodule "training/javascript"]
	path = training/javascript
	url = git@github.com:magizbox/javascript.git
[submodule "training/bigdata"]
	path = training/bigdata
	url = git@github.com:magizbox/bigdata.git
