[submodule "training/python"]
	path = training/python
	url = git@github.com:magizbox/python.git
[submodule "training/javascript"]
	path = training/javascript
	url = git@github.com:magizbox/javascript.git
[submodule "training/bigdata"]
	path = training/bigdata
	url = git@github.com:magizbox/bigdata.git
[submodule "training/deep_learning"]
	path = training/deep_learning
	url = git@github.com:magizbox/deep_learning.git
[submodule "training/code"]
	path = training/code
	url = git@github.com:magizbox/code.git
[submodule "training/cpp"]
	path = training/cpp
	url = git@github.com:magizbox/cpp.git
[submodule "training/java"]
	path = training/java
	url = git@github.com:magizbox/java.git
[submodule "training/r"]
	path = training/r
	url = git@github.com:magizbox/r.git
[submodule "training/scala"]
	path = training/scala
	url = git@github.com:magizbox/scala.git
[submodule "training/nodejs"]
	path = training/nodejs
	url = git@github.com:magizbox/nodejs.git
[submodule "training/octave"]
	path = training/octave
	url = git@github.com:magizbox/octave.git
[submodule "training/platform"]
	path = training/platform
	url = git@github.com:magizbox/platform.git
[submodule "training/computer_science"]
	path = training/computer_science
	url = git@github.com:magizbox/computer_science.git
[submodule "training/agile"]
	path = training/agile
	url = git@github.com:magizbox/agile.git
[submodule "training/git"]
	path = training/git
	url = git@github.com:magizbox/git.git
[submodule "training/ai"]
	path = training/ai
	url = git@github.com:magizbox/ai.git
[submodule "training/docker"]
	path = training/docker
	url = git@github.com:magizbox/docker.git
[submodule "training/lean"]
	path = training/lean
	url = git@github.com:magizbox/lean.git
[submodule "training/machinelearning"]
	path = training/machinelearning
	url = git@github.com:magizbox/machinelearning.git
[submodule "training/natural_language_processing"]
	path = training/natural_language_processing
	url = git@github.com:magizbox/natural_language_processing.git
[submodule "training/danda"]
	path = training/danda
	url = git@github.com:magizbox/danda.git
